<li class="list-group-item text-dark">
    <div class="row justify-content-between">
        <div class="col-4">
            <span><strong>{{author}}</strong></span>
        </div>
        <div class="col-6 text-right">
            <span><small>{{createdAt}}</small></span>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12">
            <p>{{comment}}</p>
        </div>
    </div>
</li>