<li class="list-group-item text-dark">
    <div class="row justify-content-between">
        <div class="col-4">
            <span><strong>{{author}}</strong></span>
        </div>
        <div class="col-6 text-right">
            <span><small>{{createdAt}}</small></span>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12">
            <p>{{comment}}</p>
        </div>
    </div>
    {{#eq authorId @root.dbUser.oauthToken}}
        <div class="row">
            <div class="col text-right">
                <button class="btn btn-outline-danger btn-sm delete-comment-btn" data-id="{{_id}}">Delete Comment</button>
            </div>    
        </div>
    {{/eq}}
</li>