<div class="spacer"></div>
<footer class="navbar navbar-dark bg-dark">
    <div class="container justify-content-center">
        <div class="row">
            <div class="col-12 text-center text-white py-3">© 2018 Jover Lee</div>
        </div>
    </div>
</footer>