<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
        <img src="/images/icon.png" class="d-inline-block align-top" alt="k-scraps">
        k-Scraps
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <form class="form-inline my-2 my-lg-0" {{#if bookmarks}} id="bookmark-search" {{else}} id="article-search" {{/if}}>
            <input class="form-control mr-sm-2" type="search" placeholder="{{#if bookmarks}} Search Bookmarks {{else}} Search {{/if}}">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
        </form>
        <ul class="navbar-nav ml-auto my-2 justify-content-center">
            {{#unless bookmarks}}
                <li class="nav-item">
                    <a class="nav-link text-light" href="/bookmarks">Bookmarks</a>
                </li>
            {{/unless}}
            {{#if loggedIn}}
                <li class="nav-item">
                    <a class="nav-link text-light" href="/logout">Log Out</a>
                </li>
            {{else}}
                <li class="nav-item">
                    <a class="nav-link text-light" href="/auth/google">Log In</a>
                </li>
            {{/if}}
        </ul>
    </div>
</nav>