
{{> navbar}}
<div class="container mb-5">
    <section>
        <div class="row justify-content-between m-5 py-2 border-bottom">
            <div class="col-sm-12 col-md-6 text-md-left text-sm-center">
                <h3>LATEST K-SCRAPS</h3>
            </div>
            <div class="col-sm-12 col-md-4 text-md-right text-sm-center">
                <button class="btn btn-danger" id="new-scraps-btn">Get Latest k-Scraps</button>
            </div>
        </div>
    </section>
    <div class="row m-5">
        <div class="col-12">
            <ul class="accordion list-group" id="articles-list">
                {{> articles}}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <button class="btn btn-lg" id="load-more-btn">Load More k-Scraps</button>
        </div>
    </div>
    {{> modals}} 
</div>
{{> footer}}