<div class="container my-5 py-5" id="new-user-page">
    <div class="row my-5 py-5">
        <div class="col-12 my-5 text-center">
            <h3>Welcome to k-Scraps!</h3>
            <p>You can now bookmark k-Scraps and make comments!</p>
            <br><br>
            <h5>To continue, please choose a username!</h5>
            <br>
            <form class="form-inline justify-content-center" id="new-username-form">
                <div class="form-group">
                    <input type="text" class="form-control mx-1" id="username-input" placeholder="Enter username">
                </div>
                <button type="submit" class="btn btn-danger">Submit</button>
            </form>
        </div>
    </div>
</div>

{{> modals}}