body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #9893BA;
}

.spacer {
    flex: 1;
}

footer {
    flex-shrink: 0;
}

.articles {
    color: black;
}

.articles:hover {
    color: white !important;
    background-color: #544B8C !important;
}

.bookmark-btn {
    color: #544B8C;
    background-color:#DCDBE8;
    border: 1px solid #DCDBE8;
}

.bookmark-btn:hover {
    color: #DCDBE8;
    background: transparent;
}

.read-button, .read-button:hover{
    color: black;
    background-color: white;
}

#load-more-btn, #new-scraps-btn {
    color: white;
    background-color: #544B8C;
    border: 2px solid #544B8C
}

#load-more-btn:hover, #new-scraps-btn:hover {
    color: #544B8C;
    background-color: white;
}